body {
	padding:0;
	margin: 0;
}

*{
	box-sizing: border-box;
}

i {
	font-size: 1.8rem;
}

#wrapper {
	display: flex;
	justify-content: center;
}

#player-area {
	width: 100%;
    max-width: 500px;
    border: 1px solid lightgrey;
    padding: 12px;
    margin: 12px;
    border-radius: 24px;

}
#song-artist {
	font-size: 28px;
	padding: 12px;
}

.content-row {
	width: 100%;
	display: flex;
}

.p-20 {
	padding: 20px;
}

.icon-row {
	justify-content: space-between;
}

.now-playing {
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
}

.responsive-img {
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.flex-center {
	justify-content: center;
}

.width-100 {
	width: 100%;
}

.playlist-item {
    padding: 10px;
    cursor: pointer;
}

.playlist-item:hover {
    background-color: #f0f0f0;
}

.active-song {
    background-color: #d0e6f6;
    font-weight: bold;
}
